.containerColour {
  max-width: 685px;
  margin: 0px auto;
  padding: 15px 50px;
  border-style: none;
  border-radius: 45px;
  background-color: #000000d0;
  max-height: 76vh;
  font-family: "Readex Pro", sans-serif;
}

body {
  margin: 80px auto;
  padding: 0px auto;
  text-align: center;
  background-size: cover;
  background-image: url(https://i.pinimg.com/originals/12/01/90/1201906dcf2eef9d5197c650dc3af91e.gif);
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  font-size: 42px;
  color: white;
}

h2 {
  text-align: left;
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  color: white;
}

h3 {
  text-align: right;
  color: white;
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

hr {
  color: white;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

button {
  border-radius: 50%;
  border: none;
  height: 47px;
  width: 47px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  margin-right: 0.9rem;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

input#search-bar.form-control {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  margin-top: 1.5rem;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  font-family: "Readex Pro", sans-serif;
}

img#icon {
  width: 85px;
  height: 85px;
  margin-bottom: 1.5rem;
}

strong#temperature {
  top: 1.5em;
  font-size: 70px;
}

.weather-forecast {
  font-family: "Readex Pro", sans-serif;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 2rem;
}

.weather-forecast-temp-min {
  color: grey;
}

.weather-forecast-temp-max {
  color: white;
}

small {
  font-family: "Readex Pro", sans-serif;
  font-weight: bolder;
  margin: 425px;
  color: black;
}

p {
  text-align: left;
}

a {
  text-decoration: none;
}

a.link {
  color: navy;
}

a.link:hover {
  cursor: pointer;
  color: blanchedalmond;
}
